{% extends "base.html" %}

{% block content %}
{% load cache %}

<style>
    .table-emerald thead {
        background-color: #808080;
        color: white;
    }

    .table-emerald tbody tr:hover {
        background-color: #808080;
    }

    .table-emerald td:hover,
    .table-emerald th:hover {
        background-color: #C0C0C0;
    }

    .table-emerald td,
    .table-emerald th {
        transition: background-color 0.1s;
    }

    .page-link {
        color: #808080; /* Фиолетовый цвет */
    }

    /* Изменение фона активной страницы */
    .page-item.active .page-link {
        background-color: #808080;
        border-color: #808080;
        color: #fff;
    }

    /* Изменение цвета при наведении */
    .page-link:hover {
        color: #fff;
        background-color: #808080;
    }
</style>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid silver;
    }

    th, td {
        padding: 10px;
        text-align: center;
    }
</style>

<div class="container mt-4" style="max-width: 1000px;">
    <table class="table table-striped table-hover table-emerald" border="2">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">Assignee</th>
            <th scope="col">Comments</th>
            <th scope="col">Edit task</th>
            <th scope="col">Attachments</th>
        </tr>

        </thead>

        <tbody>
        {% cache 1200 attachment.photo %}
        {% for task in tasks %}
        <tr>
            <td>{{task.name}}</td>

            <td>{{task.assignee.email}}</td>
            <td>
                {% for comment in task.comments.all %}
                <p>
                    {{comment.message}}
                    <a href="{% url 'comments_delete' comment.pk %}">Удалить комментарий</a>
                </p>
                {% endfor %}
            </td>

            <td><a href="{% url 'edit_task' task.id %}">Редактировать</a></td>

            <td>

                {% for attachment in task.attachments.all %}
                {% if attachment.photo %}
                <img style="max-height: 100px" src="{{attachment.photo.url}}"/>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        {% endcache %}
        </tbody>
    </table>


    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">«</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">‹</a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
                {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">›</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">»</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>

</div>

{% endblock %}